body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url(../img/rain.jpg);
    color: white;
    font-size: 10px;
    font-family: $font-default;
    @media (orientation: landscape){
        height: 150vh;
    }
    @media (min-width: 650px){
        height: 100vh;
    }
}
.wrapper{
    min-height: 75%;
    flex-basis: 90%;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    background-color: rgba(0,0,0,.9);
    border-radius: 25px;
    @media (min-width: 650px){
        flex-basis: 75%;
    }
    @media (min-width: 1024px){
        flex-basis: 55%;
    }
}
.header{
    flex-basis: 100%;
    height: 20%;
    padding: 15px 0;
    @media (min-width: 650px){
        height: 5%;
        padding: 0 0;
    }
    &__title{
        font-family: $font-special;
        text-align: center;
        font-size: 2.2rem;
        letter-spacing: 2px;
        @media (min-width: 650px){
            font-size: 4rem;
        }
        @media (min-width: 1024px){
            font-size: 5rem;
        }
    }
}
.app{
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &__search{
        width: 100%;
        margin: 0 auto;
        padding: 15px 0;
        height: 10%;
        display: flex;
        justify-content: center;
        .form{
            display: flex;
            align-items: center;
            height: 5vh;
            @media (min-width: 650px){
                height: 7vh;
            }
            .search-input{
                min-height: 35px;
                min-width: 50px;
                border-radius: 20px;
                border: 3px solid transparent;
                margin: 5px;
                padding-left: 15px;
                background-color: #e6e4e4;
                transition: .4s;
                font-size: 1.1rem;
                font-family: $font-default;
                font-weight: 600;
                @media (min-width: 650px){
                    min-height: 50px;
                    min-width: 350px;
                    font-size: 1.2rem;
                }
                @media (min-width: 1024px){
                    min-height: 60px;
                    min-width: 500px;
                    font-size: 1.4rem;
                }
                &:focus{
                    border: 3px solid rgba(34, 125, 236, 0.9);
                    background-color: #c4dcff;
                }
            }
            .search-button{
                height: 40px;
                width: 40px;
                border-radius: 100%;
                border: none;
                margin: 5px;
                background-color: rgba(34, 125, 236, 0.9);
                @media (min-width: 650px){
                    height: 55px;
                    width: 55px;
                }
                @media (min-width: 650px){
                    height: 65px;
                    width: 65px;
                }
                .search-icon{
                    font-size: 1.2rem;
                    color: #e6e4e4;
                    text-align: center;
                    line-height: 20px;
                    @media (min-width: 650px){
                        font-size: 1.6rem;
                        line-height: 27.5px;
                    }
                }
            }
        }
    }
    &__city-info{
        height: 15%;
        flex-basis: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        font-weight: 100;
        .city-name{
            text-align: center;
            font-size: 1.8rem;
            @media (min-width: 650px){
                font-size: 2.7rem;
            }
        }
    }
    &__temp{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        flex-basis: 90%;
        .weather-icon{
            font-size: 3rem;
            vertical-align: middle;
            align-self: center;
            padding-right: 15px;
            @media (min-width: 650px){
                font-size: 5.5rem;
            }
        }
        .temp-value{
            font-size: 2.2rem;
            line-height: 2rem;
            padding-right: 10px;
            font-weight: 600;
            @media (min-width: 650px){
                font-size: 3.2rem;
            }
        }
        .temp-degrees{
            font-weight: 600;
            font-size: 2rem;
            @media (min-width: 650px){
                font-size: 3rem;
            }
        }
        .description{
            flex-basis: 100%;
            text-align: center;
            font-size: 1.1rem;
            font-weight: 100;
            line-height: 0;
            @media (min-width: 650px){
                font-size: 1.5rem;
            }
        }
    }
    &__others{
        flex-basis: 80%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: 5% 0;
        @media (min-width: 650px){
            flex-basis: 60%;
        }
        @media (min-width: 1024px){
            flex-basis: 40%;
            margin: 2.5% 0;
        }
        .pressure-info{
            flex-basis: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            .info{
                flex-basis: 80%;
                margin: 10px auto;
                line-height: 1.3rem;
                font-size: 1.3rem;
                font-weight: bold;
                @media (min-width: 650px){
                    font-size: 2rem;
                    line-height: 2rem;
                }
                .value{
                    font-size: 1.2rem;
                    font-weight: 100;
                    @media (min-width: 650px){
                        font-size: 1.7rem;
                    }
                }
            }
            .pressure-icon{
                flex-basis: 30px;
                height: 30px;
                text-align: center;
                font-size: 1.1rem;
                line-height: 30px;
                border-radius: 50%;
                color: #e6e4e4;
                background-color: #64a5f0;
                @media (min-width: 650px){
                    flex-basis: 40px;
                    height: 40px;
                    line-height: 40px;
                    font-size: 1.4rem;
                }
            }
        }
        .humidity-info{
            flex-basis: 100%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            .info{
                flex-basis: 80%;
                margin: 10px auto;
                line-height: 1.3rem;
                font-size: 1.3rem;
                font-weight: bold;
                @media (min-width: 650px){
                    font-size: 2rem;
                    line-height: 2rem;
                }
                .value{
                    font-size: 1.2rem;
                    font-weight: 100;
                    @media (min-width: 650px){
                        font-size: 1.7rem;
                    }
                }
            }
            .humidity-icon{
                flex-basis: 30px;
                height: 30px;
                text-align: center;
                font-size: 1.1rem;
                line-height: 30px;
                border-radius: 50%;
                color: #e6e4e4;
                background-color: #3e74b3;
                @media (min-width: 650px){
                    flex-basis: 40px;
                    height: 40px;
                    line-height: 40px;
                    font-size: 1.4rem;
                }
            }
        }
        .wind-info{
            flex-basis: 100%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            .info{
                flex-basis: 80%;
                margin: 10px auto;
                line-height: 1.3rem;
                font-size: 1.3rem;
                font-weight: bold;
                @media (min-width: 650px){
                    font-size: 2rem;
                    line-height: 2rem;
                }
                .value{
                    font-size: 1.2rem;
                    font-weight: 100;
                    @media (min-width: 650px){
                        font-size: 1.7rem;
                    }
                }
            }
            .wind-icon{
                flex-basis: 30px;
                height: 30px;
                text-align: center;
                font-size: 1.1rem;
                line-height: 30px;
                border-radius: 50%;
                color: #e6e4e4;
                background-color: #225085;
                @media (min-width: 650px){
                    flex-basis: 40px;
                    height: 40px;
                    line-height: 40px;
                    font-size: 1.4rem;
                }
            }
        }
        
    }
}